<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Daniela Quesada Aguilaer"/>
    <title>Lab Javascript AJAJ</title>
    <script type="text/javascript" src="main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <form id="labAJAJ" name="labAJAJ" method="POST" onload="cargarProvincias()">
        <div id="app">
            <h3>Provincias: </h3>
            <li v-for="item in provincias">
                <h2> {{ item.nombre }} </h2>
            </li>
            <select id="select-provincias" v-for="item in provincias">
               <!-- <option value="0">Seleccione provincia</option> -->
               <option value={{item.id}}>{{item.nombre}}</option>
            </select>
        </div>

        <div>
            <h3>Cantones: </h3>
            <select id="select-cantones">
                <option value="0">Seleccione cantón</option>
            </select>
        </div>
    </form>

    <!-- Agrego vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      var labAJAJ = new Vue({
        el: '#labAJAJ',
        data: {
          provincias: []
        },
        created: function() {
          fetch('provincias.php')
            .then( response => response.json() )
            .then( json => { this.provincias = json } );
        }
      });
    </script>
</body>
</html>